<!-- /templates/customers/login.liquid -->
{% comment %} <div class="user">
    <div class="user-login">
        <h2>Login</h2>
        {% form 'customer_login' %}
            {{ form.errors | default_errors }}
          
            <div class="email">
              <label for="email" placeholder="Email"></label>
              <input type="email" name="customer[email]">
            </div>
          
            <div class="password">
              <label for="password" placeholder="Password"></label>
              <input type="password" name="customer[password]">
            </div>

            <a href="#">Forgot Password</a>
            
        {% endform %}
          
        

        <form action="" method="post">
            <button type="submit">Sign in</button>
            <input type="text">
            <b>
                <a href="#">Manage your subscriptions</a>
            </b>
        </form>

        <div class="or"></div>
        <div class="user-social">
            <ul class="sl-horizontal">        
                <li title="Sign in with Facebook">
                    <a class="btn-lg facebook social_login square btn" style="max-width:100%;" url="/auth/facebook?shop=taste-it-wine.myshopify.com&amp;parenturl=https://ingoodtaste.com/account/login" href="/auth/facebook?shop=taste-it-wine.myshopify.com&amp;parenturl=https://ingoodtaste.com/account/login">
                        <span class="icon3">
                            <i class="fa fa-facebook" style="font-size:20px;" title="Sign in with Facebook"></i>
                        </span>
                    </a>
                </li>
                 <li title="Sign in with Google">
                    <a class="btn-lg google social_login square btn" style="max-width:100%;" url="/auth/google?shop=taste-it-wine.myshopify.com&amp;parenturl=https://ingoodtaste.com/account/login" href="/auth/google?shop=taste-it-wine.myshopify.com&amp;parenturl=https://ingoodtaste.com/account/login">
                        <span class="icon3">
                            <i class="fa fa-google" style="font-size:20px;" title="Sign in with Google"></i>
                        </span>
                    </a>
                </li>
                <li title="Sign in with Linkedin">
                    <a class="btn-lg linkedin social_login square btn" style="max-width:100%;" url="/auth/linkedin?shop=taste-it-wine.myshopify.com&amp;parenturl=https://ingoodtaste.com/account/login" href="/auth/linkedin?shop=taste-it-wine.myshopify.com&amp;parenturl=https://ingoodtaste.com/account/login">
                        <span class="icon3">
                            <i class="fa fa-linkedin" style="font-size:20px;" title="Sign in with Linkedin"></i>
                        </span>
                    </a>
                </li>
                <li title="Sign in with Amazon">
                    <a class="btn-lg amazon social_login square btn" style="max-width:100%;" url="/auth?type=amazon&amp;shop=taste-it-wine.myshopify.com&amp;parenturl=https://ingoodtaste.com/account/login" href="/auth?type=amazon&amp;shop=taste-it-wine.myshopify.com&amp;parenturl=https://ingoodtaste.com/account/login">
                        <span class="icon3">
                            <i class="fa fa-amazon" style="font-size:20px;" title="Sign in with Amazon"></i>
                        </span>
                    </a>
                </li>
            </ul>
        </div>
   </div>
</div>  {% endcomment %}
{% comment %} {% form 'recover_customer_password' %}

    {{ form.errors | default_errors }}

    <label for="customer_email">Email Address</label>
    <input type="email" name="email" />

    <input type="submit" value="Submit" />

{% endform %} {% endcomment %}