<div class="upper-part">
    <div class="redes">
        <ul class="redes-social">
            <a href="https://www.facebook.com/InGoodTasteWines/">
                {% render 'icon-facebook' %}
            </a>
            <a href="https://www.tiktok.com/@ingoodtastewines">
                {% render 'icon-tiktok' %}
            </a>
            <a href="https://www.instagram.com/ingoodtastewines/">
                {% render 'icon-instagram' %}
            </a>
            <a href="https://www.linkedin.com/company/ingoodtastewines/">
                {% render 'icon-linkedin' %}
            </a>
            <a href="https://www.youtube.com/channel/UC6gb5Y3-AumHogv7Yggs7kw">
                {% render 'icon-youtube' %}
            </a>
        </ul>
    </div>

    <div class="upper-center">
        <p>Ground Shipping Included on orders $119+</p>
    </div>
    <div class="upper-info">
        <span>Learn About Wine</span>
        {% render 'icon-dropdown' %}

        <span>Visit Our Tasting Room</span>
    </div>    
</div> 