<div class="featured-collection">
    <h2>{{ section.settings.title }}</h2>
  
    {% assign featuredProducts = collections[section.settings.featured_collection].products %}
    {% assign numberOfProductsToShow = section.settings.number_of_products_to_show | default: 4 %}
  
    <div class="featured-product-container">
      {% for product in featuredProducts limit: numberOfProductsToShow %}
        <div class="featured-product">
          <!-- Aquí colocas el contenido de cada producto -->
          <img src="{{ product.featured_image.src | image_url: width: 300, height: 150 }}
            " alt="{{ product.title }}"
            loading="eager"
            width="300"
            height="auto"
        >
          <h3>{{ product.title }}</h3>
          <!-- Otros detalles del producto... -->
        </div>
      {% endfor %}
    </div>
  </div>
  
  {% schema %}
  {
    "name": "Featured Collection",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Featured Collection"
      },
      {
        "type": "collection",
        "id": "featured_collection",
        "label": "Collection"
      },
      {
        "type": "range",
        "id": "number_of_products_to_show",
        "label": "Number of products to show",
        "min": 4,
        "max": 12,
        "default": 4
      }
    ],
    "presets": [
      {
        "name": "Featured Collection"
      }
    ]
  }
  {% endschema %}
  