<div class="homepage">
  <div class="hero">
    
  </div>
  <div class="content">
    <h3>Curated Flights</h3>
    <p>
      At In Good Taste, we believe in exploring and understanding the world of quality wine. Our 187ml mini bottles
      offer curated wine flights and fridge packs, perfect for tasting a variety of small-batch wines. With less waste
      and fresher sips, we hope to inspire your love for exploring the diverse and delicious world of quality wine.
    </p>
  </div>
</div>
