 <section class= "template-collections">
    <div class="center-card">
        <div class="collections">
            {%- if section.settings.category_top_left -%}
                {% assign collectionTopLeft = collections[section.settings.category_top_left] %}
                <div class="col-md-6">
                    <div class="category-box">
                      <a href="{{ collectionTopLeft.url | default: "#" }}">
                        <img src="{{collectionTopLeft.image | image_url: width: 300 }}" alt="" width="300" height="300" loading="eager">
                        <div class="content">
                          <h3>{{collectionTopLeft.title }}</h3>
                          <p>{{ collectionTopLeft.description }}</p>
                        </div>
                      </a>
                    </div>
              </div>
          {%- endif -%}
        </div>
    </div>
</section> 
{% schema %}
    {
        "name": "Template Collection",
        "settings": [],
        "type": "collection",
        "id": "category_top_left",
        "label": "Category Top Left"
      }
{% endschema %}




