 {% comment %} <section class= "template-collections">
    <div class="center-card">
        <div class="collections">
           
            <div class="card">
                <div class="card-img">
                    <img
                        src="https://cdn.shopify.com/s/files/1/0683/0007/9353/files/product-12.jpg?v=1702667272"
                        alt="hero"
                        loading="eager"
                        width="300"
                        height="auto"
                    >
                </div>
                <div class="card-info">
                    <div class="star-container">
                        <span class="star"></span>
                        <span class="star"></span>
                        <span class="star"></span>
                        <span class="star"></span>
                        <span class="star"></span>
                    </div>
                    <h4>French Tasting Kit</h4>
                    <span class="style">Collection</span>
                    <p>
                        Say Bonjour to our&nbsp;French Wine Tasting Kit! Get ready to embark on a delightful 
                        journey through the vineyards of France without leaving the comfort of your own home. 
                        Indulge in the essence of French wine culture with our thoughtfully curated selection of six mini bottles, 
                        each representing a unique French varietal or region in France. Whether you're a wine enthusiast, an aspiring connoisseur
                        , or simply someone who appreciates the finer things in life, our French Tasting Kit is the perfect companion. 
                        It's an invitation to create unforgettable moments with friends and loved ones, as you gather
                        around the table to share the magic of French wines.
                    </p>
                    <p>
                        Available in 6-pack and 12-pack sizes. 12-pack contains two each of the 6 unique French Wines.
                    </p>
                    <span class="color space">OUT OF STOCK</span>
                </div>
            </div> 
            {% comment %} row num 5 {% endcomment %}
            <div class="card">
                <div class="card-img">
                <img
                    src="https://cdn.shopify.com/s/files/1/0683/0007/9353/files/product-13.jpg?v=1702667341"
                    alt="hero"
                    loading="eager"
                    width="300"
                    height="auto"
                >
                </div>
                <div class="card-info">
                    <div class="star-container">
                        <span class="star"></span>
                        <span class="star"></span>
                        <span class="star"></span>
                        <span class="star"></span>
                        <span class="star"></span>
                    </div>
                    <h4>Deux + Mini Wine Gift Set</h4>
                    <span class="style">Collection</span>
                    <p>
                        Introducing a new collaborative gift set designed to delight and indulge on any special occasion – 
                        the Deux + Mini Wine Gift Set. This exquisite package brings together the best of both worlds: 
                        the guilt-free pleasure of our better-for-you "Deux" cookie dough and perfectly paired mini wines from In Good Taste.
                        An ideal companion for break-ups, birthdays, or a good long binge of your favorite show. Perfect any occasion 
                        that warrants celebration, laughter, and the delightful sweetness of life. 
                        Note: Deux cookie dough and Mini Wines ship separately.
                    </p>
                    <span class="color space">OUT OF STOCK</span>
                </div>
            </div> 
        </div>
        </div>
        
    </div>
</section>  {% endcomment %}





