
<div id="cartProductContainer" class="products-container">
    <!-- Contenido del producto se insertará mediante JavaScript -->
</div>



<script>
    document.addEventListener("DOMContentLoaded", function () {
        var addedProduct = localStorage.getItem("addedProduct");

        if (addedProduct) {
            addedProduct = JSON.parse(addedProduct);

            var cartProductContainer = document.getElementById("cartProductContainer");

            if (cartProductContainer) {
                cartProductContainer.innerHTML = `
                    <div class="products">
                        <div class="product-img">
                            <img src="${addedProduct.image}" alt="${addedProduct.title}" />
                        </div>
                    </div>
                    <div class="products">
                        <div class="product-content">
                            <h2 class="text-align">${addedProduct.title}</h2>
                            <p class="text-align">${addedProduct.description}</p>
                            <p class="text-align">$${addedProduct.price}</p>
                            <form action="/cart/update" method="post">
                                <input type="hidden" name="id" value="${addedProduct.id}">
                                <label for="quantity" class="align">Quantity</label>
                                <div class="price">  
                                    <input type="number" class="border" name="quantity" id="quantity" value="${addedProduct.quantity}" min="1">
                                    <button type="submit">Update</button>
                                </div>
                            </form>
                            <a href="/checkout" id="goToCheckout" class="checkout-btn">Checkout</a>
                        </div>
                    </div>
                `;
            }

            localStorage.removeItem("addedProduct");
        }
    });
</script>




{% schema %}
{
    "name": "Template Cart",
    "blocks": [
        {
            "type": "subtotal",
            "name": "Subtotal",
            "limit": 1
        },
        {
            "type": "update_button",
            "name": "Update Button",
            "limit": 1
        },
        {
            "type": "checkout_button",
            "name": "Checkout Button",
            "limit": 1
        }
    ]
}
{% endschema %}