 <div class="center-card">
    <div class="collections">
        <div class="card">
            <div class="card-img">
            <img
                src="https://cdn.shopify.com/s/files/1/0683/0007/9353/files/product-1.webp?v=1702607633"
                alt="hero"
                loading="eager"
                width="300"
                height="auto"
            >
            </div>
            <div class="card-info">
                <div class="star-container">
                    <span class="star"></span>
                    <span class="star"></span>
                    <span class="star"></span>
                    <span class="star"></span>
                    <span class="star"></span>
                </div>      
            <h4>2023 Wine Advent Calendar</h4>
            <span class="style"> In Good Taste</span>
            <p>
                Our 2023 Wine Advent Calendar with <br>
                our new wines and label designs is the <br>
                perfect gift to give or get this holiday season.
            </p>
            <p>Our 2023 Wine Advent Calendar is <br> sold out.</p>
            <span class="color">OUT OF STOCK</span>
            </div>
        </div>
        <div class="card">
            <div class="card-img">
            <img
                src="https://cdn.shopify.com/s/files/1/0683/0007/9353/files/product-2.jpg?v=1702615507"
                alt="hero"
                loading="eager"
                width="300"
                height="auto"
            >
            </div>
            <div class="card-info">
            
            <h4>Mini Wine Advent</h4>
            <span class="style"> In Good Taste</span>
            <p>
                Enjoy twelve exquisite mini wines from Italy, Argentina, France, South Africa, and California. Explore a vast
                <br>
                array of varietals, from a refreshing Italian Moscato to a bold South African Pinotage, and everything in <br>
                between. Use the wines to countdown to a special date or <br>
                taste through them all with friends. Makes a great gift!
            </p>
            <div class="product-container">
                <div class="position-column"></div>
                <span>$89.99</span>
                <button class="cart">
                <span>Add to cart</span>
                </button>
            </div>
            </div>
        </div>
        <div class="card">
            <div class="card-img">
                <img
                    src="https://cdn.shopify.com/s/files/1/0683/0007/9353/files/product-3.webp?v=1702615523"
                    alt="hero"
                    loading="eager"
                    width="300"
                    height="auto"
                >
            </div>
            <div class="card-info">
                <div class="star-container">
                    <span class="star"></span>
                    <span class="star"></span>
                    <span class="star"></span>
                    <span class="star"></span>
                    <span class="star"></span>
                </div> 
            <h4>Club Mini</h4>
            <span class="style"> In Good Taste</span>
            <p>
                New wines, shipped directly to you every other month! Our December <br>“sipment” features a delicious line-up of
                mini wines selected by winemaker Matt Smith, that pair perfectly <br>with holiday gatherings. Sign up today to save
                up to 20% off on all online purchases <br>+ free Ground Shipping on member shipments.
            </p>
            <div class="product-container">
                <div class="position-column"></div>
                <span>$54.00</span>
                <button class="cart">
                <span>Add to cart</span>
                </button>
            </div>
        </div>
        
    </div> 
    <div class="collections">
        <div class="card">
            <div class="card-img">
                <img
                    src="https://cdn.shopify.com/s/files/1/0683/0007/9353/files/product-3.webp?v=1702615523"
                    alt="hero"
                    loading="eager"
                    width="300"
                    height="auto"
                >
            </div>
            <div class="card-info">
                <div class="star-container">
                    <span class="star"></span>
                    <span class="star"></span>
                    <span class="star"></span>
                    <span class="star"></span>
                    <span class="star"></span>
                </div> 
            <h4>Club Mini</h4>
            <span class="style"> In Good Taste</span>
            <p>
                New wines, shipped directly to you every other month! Our December <br>“sipment” features a delicious line-up of
                mini wines selected by winemaker Matt Smith, that pair perfectly <br>with holiday gatherings. Sign up today to save
                up to 20% off on all online purchases <br>+ free Ground Shipping on member shipments.
            </p>
            <div class="product-container">
                <div class="position-column"></div>
                <span>$54.00</span>
                <button class="cart">
                <span>Add to cart</span>
                </button>
            </div>
        </div>
    </div>   
</div>    
{% schema %}
{
    "name": "Template Collections",
    "settings": [
        {
            "type": "number",
            "id": "number_of_products_per_page",
            "default": 6,
            "label": "Number of products per page"
        }
    ]
}
{% endschema %}
