<section class= "template-collections">
    <div class="center-card">
        <div class="collections">
            {% comment %} row num 1 {% endcomment %}
            <div class="card">
            <div class="card-img">
                <img
                src="https://cdn.shopify.com/s/files/1/0683/0007/9353/files/product-1.webp?v=1702607633"
                alt="hero"
                loading="eager"
                width="300"
                height="auto"
                >
            </div>
            <div class="card-info">
                <div class="star-container">
                <span class="star"></span>
                <span class="star"></span>
                <span class="star"></span>
                <span class="star"></span>
                <span class="star"></span>
                </div>
                <h4>2023 Wine Advent Calendar</h4>
                <span class="style"> In Good Taste</span>
                <p>
                Our 2023 Wine Advent Calendar with 
                our new wines and label designs is the 
                perfect gift to give or get this holiday season.
                </p>
                <p>
                Our 2023 Wine Advent Calendar is <br>
                sold out.
                </p>
                <span class="color space-bottom">OUT OF STOCK</span>
            </div>
            </div>
            <div class="card">
                <div class="card-img">
                    <img
                    src="https://cdn.shopify.com/s/files/1/0683/0007/9353/files/product-2.jpg?v=1702615507"
                    alt="hero"
                    loading="eager"
                    width="300"
                    height="auto"
                    >
                </div>
                <div class="card-info">
                    <h4 class="padding">Mini Wine Advent</h4>
                    <span class="style"> In Good Taste</span>
                    <p>
                    Enjoy twelve exquisite mini wines from Italy, Argentina, France, South Africa, and California. Explore a vast
                    array of varietals, from a refreshing Italian Moscato to a bold South African Pinotage, and everything in 
                    between. Use the wines to countdown to a special date or 
                    taste through them all with friends. Makes a great gift!
                    </p>
                    <div class="product-container">
                    <div class="position-column"></div>
                        <span>$89.99</span>
                        <button class="cart-btn" onclick="redirectToCart()">
                            <span>Add to cart</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-img">
                    <img
                    src="https://cdn.shopify.com/s/files/1/0683/0007/9353/files/product-3.webp?v=1702615523"
                    alt="hero"
                    loading="eager"
                    width="300"
                    height="auto"
                    >
                </div>
                <div class="card-info">
                    <div class="star-container">
                        <span class="star"></span>
                        <span class="star"></span>
                        <span class="star"></span>
                        <span class="star"></span>
                        <span class="star"></span>
                    </div>
                    <h4>Club Mini</h4>
                    <span class="style"> In Good Taste</span>
                    <p>
                        New wines, shipped directly to you every other month! Our December 
                        “sipment” features a delicious line-up of mini wines selected by winemaker Matt Smith, that pair perfectly
                        with holiday gatherings. Sign up today to save up to 20% off on all online purchases 
                        + free Ground Shipping on member shipments.
                    </p>
                    <div class="product-container">
                        <div class="position-column"></div>
                        <span>$54.00</span>
                        <button class="cart-btn" onclick="redirectToCart()">
                            <span>Add to cart</span>
                        </button>
                    </div>    
                </div>
            </div>
            {% comment %} row num 2 {% endcomment %}
            <div class="card">
                <div class="card-img">
                    <img
                    src="https://cdn.shopify.com/s/files/1/0683/0007/9353/files/product-4.jpg?v=1702654495"
                    alt="hero"
                    loading="eager"
                    width="300"
                    height="auto"
                    >
                </div>
                <div class="card-info">
                    <div class="star-container">
                        <span class="star"></span>
                        <span class="star"></span>
                        <span class="star"></span>
                        <span class="star"></span>
                        <span class="star"></span>
                    </div>
                    <h4>Winemakers' Selects</h4>
                    <span class="style"> Collection</span>
                    <p>
                        For our Winemaker's Selects series, 
                        our very own winemaker Matt has 
                        selected some of their favorite wines from 
                        around the world and created a delightful sampler that ranges from crisp whites to full-flavored reds. We
                        don’t typically play favorites and neither do they, but there’s an exception to every rule, and this
                        collection is just that. Sip on our winemaker's top picks to experience what they consider highly-sippable and
                        check back each quarter for new selections!
                    </p>
                    <div class="product-container">
                        <div class="position-column"></div>
                        <span>$49.00</span>
                        <button class="cart-btn" onclick="redirectToCart()">
                            <span>Add to cart</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-img">
                    <img
                    src="https://cdn.shopify.com/s/files/1/0683/0007/9353/files/product-5.jpg?v=1702654503"
                    alt="hero"
                    loading="eager"
                    width="300"
                    height="auto"
                    >
                </div>
                <div class="card-info">
                    <div class="star-container">
                        <span class="star"></span>
                        <span class="star"></span>
                        <span class="star"></span>
                        <span class="star"></span>
                        <span class="star"></span>
                    </div>
                    <h4>White Wine Lovers</h4>
                    <span class="style-ligth"> Collection</span>
                    <p>
                        White Wine Lovers, a collection of 6 carefully selected white wines to satisfy any wine lover's palate. Some
                        of the wines included in this flight are a crisp and refreshing Sauvignon Blanc, a rich and buttery
                        Chardonnay, and a fruity Moscato.
                        Whether you're a seasoned wine enthusiast or just starting to explore the world of wine, this flight is
                        perfect for anyone who loves white wine. It's also a great gift for any occasion, from birthdays to
                        anniversaries or just to show someone how much you care.
                    </p>
                    
                    <div class="product-container">
                        <div class="position-column"></div>
                        <span>$49.00</span>
                        <button class="cart-btn" onclick="redirectToCart()">
                            <span>Add to cart</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-img">
                    <img
                    src="https://cdn.shopify.com/s/files/1/0683/0007/9353/files/product-6.jpg?v=1702654525"
                    alt="hero"
                    loading="eager"
                    width="300"
                    height="auto"
                    >
                </div>
                <div class="card-info">
                    <div class="star-container">
                            <span class="star"></span>
                            <span class="star"></span>
                            <span class="star"></span>
                            <span class="star"></span>
                            <span class="star"></span>
                    </div>
                    <h4>Vine Voyage</h4>
                    <span class="style">Collection</span>
                    <p>
                    Picture this: embarking on a virtual journey through vineyards worldwide, sampling 
                    the finest wines from Italy, France, California, and beyond. If jet-setting internationally 
                    isn't in your immediate plans, fear not! Our collection now showcases a diverse array of eight classic wines
                    from various countries, allowing you to experience a global pourable postcard right from the comfort of your
                    own couch. 
                    Cheers to exploring the rich flavors of wines from around the world!
                    </p>
                    <div class="product-container">
                        <div class="position-column"></div>
                        <span>$49.00</span>
                        <button class="cart-btn" onclick="redirectToCart()">
                            <span>Add to cart</span>
                        </button>
                    </div>
                </div>
            </div>
            {% comment %} row num 3 {% endcomment %}
            <div class="card">
                <div class="card-img">
                    <img
                    src="https://cdn.shopify.com/s/files/1/0683/0007/9353/files/product-7.jpg?v=1702659832"
                    alt="hero"
                    loading="eager"
                    width="300"
                    height="auto"
                    >
                </div>
                <div class="card-info">
                    <div class="star-container">
                        <span class="star"></span>
                        <span class="star"></span>
                        <span class="star"></span>
                        <span class="star"></span>
                        <span class="star"></span>
                    </div>
                    <h4>Wild Child 8 Pack</h4>
                    <span class="style"> Collection</span>
                    <p>
                        Indulge your taste buds and unleash your wild side with Wild Child Wines! 
                        Our signature brand features a collection of eight exceptional wines that are perfect for any occasion. 
                        Whether you're in the mood for a bold Cabernet Sauvignon, a crisp and refreshing Rosé, 
                        or a flavorful Verdejo, we have something for every wine lover. Our small-batch wines are carefully curated
                        to ensure only the highest quality, so you can savor every sip. Don't wait to experience the wild and
                        wonderful world of Wild Child Wines - order your box today and let your taste buds run wild!
                    </p>
                    <div class="product-container">
                        <div class="position-column"></div>
                        <span>$65.00</span>
                        <button class="cart-btn" onclick="redirectToCart()">
                            <span>Add to cart</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-img">
                    <img
                    src="https://cdn.shopify.com/s/files/1/0683/0007/9353/files/product-8.jpg?v=1702659840"
                    alt="hero"
                    loading="eager"
                    width="300"
                    height="auto"
                    >
                </div>
                <div class="card-info">
                    <div class="star-container">
                    <span class="star"></span>
                    <span class="star"></span>
                    <span class="star"></span>
                    <span class="star"></span>
                    <span class="star"></span>
                    </div>
                    <h4>Red Red Wine</h4>
                    <span class="style">Collection</span>
                    <p>
                    Our six-pack of red wine showcases a range of captivating shades and bold flavors. 
                    From a light and bright Italian Dolcetto ideal for an easy pasta night, to a jammy Rhône Red for hearty, 
                    cozy dinners, this curated flight offers both comfort and excitement. 
                    Embrace the boldness of our favorite color and indulge in pucker-up pepper and lush, juicy berry notes.
                    Remember, when in doubt, reach for red.
                    </p>
                    <p>
                    Available in 6-pack and 12-pack sizes. <br>
                    12-pack contains two each of the 6 unique red wines.
                    </p>
                    <span class="color space-bottom">OUT OF STOCK</span>
                </div>
            </div>
            <div class="card">
                <div class="card-img">
                    <img
                        src="https://cdn.shopify.com/s/files/1/0683/0007/9353/files/product-9.jpg?v=1702659852"
                        alt="hero"
                        loading="eager"
                        width="300"
                        height="auto"
                    >
                </div>
                <div class="card-info">
                    <div class="star-container">
                        <span class="star"></span>
                        <span class="star"></span>
                        <span class="star"></span>
                        <span class="star"></span>
                        <span class="star"></span>
                    </div>
                    <h4>Wine + Popcorn Pairing</h4>
                    <span class="style">Collection</span>
                    <p>
                        Elevate your snacking game with the wine and popcorn pairing experience brought to you by "In Good Taste" and
                        "Opopop". Indulge in the flavors of Pinot Noir, GSM, Sauvignon Blanc, and Verdejo paired perfectly with lightly
                        salted and salty caramel popcorn. Treat yourself to a unique  and delicious snacking experience that will leave
                        your taste buds singing.
                    </p>
                    <span class="color space">OUT OF STOCK</span>
                </div>
            </div>    
            {% comment %} row num 4 {% endcomment %}
            <div class="card">
                <div class="card-img">
                    <img
                        src="https://cdn.shopify.com/s/files/1/0683/0007/9353/files/product-10.jpg?v=1702667179"
                        alt="hero"
                        loading="eager"
                        width="300"
                        height="auto"
                    >
                </div>
                <div class="card-info">
                    <div class="star-container">
                        <span class="star"></span>
                        <span class="star"></span>
                        <span class="star"></span>
                        <span class="star"></span>
                        <span class="star"></span>
                    </div>
                    <h4>Mini Wine + Candle Gift Set</h4>
                    <span class="style">Collection</span>
                    <p>
                        Get ready to unwind and uncork some fun with our Mini Wine and Candle Gift Set! 
                        This adorably curated set is perfect for wine lovers who also love a little relaxation time. 
                        Inside, you'll find four delightful wine varieties - just waiting to be enjoyed alongside
                        a luxurious candle from Homesick Candles. With its "Let's Toast" label, the candle sets the 
                        perfect mood for a night of unwinding and laughter, not to mention is smells ah-mazing. So whether
                        you're looking for a girls' night in, a romantic date night, or just some well-deserved
                        "me time," we've got you covered. 
                    </p>
                    <span class="color space">OUT OF STOCK</span>
                </div>
            </div> 
            <div class="card">
                <div class="card-img">
                    <img
                        src="https://cdn.shopify.com/s/files/1/0683/0007/9353/files/product-11.webp?v=1702667245"
                        alt="hero"
                        loading="eager"
                        width="300"
                        height="auto"
                    >
                </div>
                <div class="card-info">
                    <div class="star-container">
                        <span class="star"></span>
                        <span class="star"></span>
                        <span class="star"></span>
                        <span class="star"></span>
                        <span class="star"></span>
                    </div>
                    <h4>A Dozen Rosés</h4>
                    <span class="style">Collection</span>
                    <p>
                    Looking for a unique gift? Say goodbye to traditional flowers and surprise your 
                    loved ones with a box of 12 delicious rosé wines! Perfect for those who appreciate
                        fruit-forward wines, this collection features our signature rosés, including&nbsp;
                        Wild Child and Passport. Each bottle offers bright and lively flavors that are sure to please.
                        And let's not forget, rosé is a day-drinking staple that should be a permanent resident in every fridge!
                    </p>
                    <p>
                        12-pack contains six each of 2 unique <br>
                        rosé wines.
                    </p>
                    <span class="color space">OUT OF STOCK</span>
                </div>
            </div> 
            <div class="card">
                <div class="card-img">
                    <img
                        src="https://cdn.shopify.com/s/files/1/0683/0007/9353/files/product-12.jpg?v=1702667272"
                        alt="hero"
                        loading="eager"
                        width="300"
                        height="auto"
                    >
                </div>
                <div class="card-info">
                    <div class="star-container">
                        <span class="star"></span>
                        <span class="star"></span>
                        <span class="star"></span>
                        <span class="star"></span>
                        <span class="star"></span>
                    </div>
                    <h4>French Tasting Kit</h4>
                    <span class="style">Collection</span>
                    <p>
                        Say Bonjour to our&nbsp;French Wine Tasting Kit! Get ready to embark on a delightful 
                        journey through the vineyards of France without leaving the comfort of your own home. 
                        Indulge in the essence of French wine culture with our thoughtfully curated selection of six mini bottles, 
                        each representing a unique French varietal or region in France. Whether you're a wine enthusiast, an aspiring connoisseur
                        , or simply someone who appreciates the finer things in life, our French Tasting Kit is the perfect companion. 
                        It's an invitation to create unforgettable moments with friends and loved ones, as you gather
                        around the table to share the magic of French wines.
                    </p>
                    <p>
                        Available in 6-pack and 12-pack sizes. 12-pack contains two each of the 6 unique French Wines.
                    </p>
                    <span class="color space">OUT OF STOCK</span>
                </div>
            </div> 
            {% comment %} row num 5 {% endcomment %}
            <div class="card">
                <div class="card-img">
                <img
                    src="https://cdn.shopify.com/s/files/1/0683/0007/9353/files/product-13.jpg?v=1702667341"
                    alt="hero"
                    loading="eager"
                    width="300"
                    height="auto"
                >
                </div>
                <div class="card-info">
                    <div class="star-container">
                        <span class="star"></span>
                        <span class="star"></span>
                        <span class="star"></span>
                        <span class="star"></span>
                        <span class="star"></span>
                    </div>
                    <h4>Deux + Mini Wine Gift Set</h4>
                    <span class="style">Collection</span>
                    <p>
                        Introducing a new collaborative gift set designed to delight and indulge on any special occasion – 
                        the Deux + Mini Wine Gift Set. This exquisite package brings together the best of both worlds: 
                        the guilt-free pleasure of our better-for-you "Deux" cookie dough and perfectly paired mini wines from In Good Taste.
                        An ideal companion for break-ups, birthdays, or a good long binge of your favorite show. Perfect any occasion 
                        that warrants celebration, laughter, and the delightful sweetness of life. 
                        Note: Deux cookie dough and Mini Wines ship separately.
                    </p>
                    <span class="color space">OUT OF STOCK</span>
                </div>
            </div> 
        </div>
        </div>
        
    </div>
</section>


{% schema %}
{
  "name": "Template Collections",
  "settings": [
    {
      "type": "number",
      "id": "number_of_products_per_page",
      "default": 6,
      "label": "Number of products per page"
    }
  ]
}
{% endschema %}
