<!-- template-cart.liquid -->

<!-- template-cart -->
<section class="template-cart">
    <div class="center-card">
        <div class="cart-items">
            <div class="cart-item">
                <div class="item-img">
                    <img src="https://cdn.shopify.com/s/files/1/0683/0007/9353/files/product-11.webp?v=1702667245"
                        alt="hero"
                        loading="eager"
                        width="300"
                        height="auto"
                    >    
                </div>
                <div class="item-info">
                    <h4>Nombre del Producto</h4>
                    <p>Descripción corta del producto.</p>
                    <span class="price">$XX.XX</span>
                    <button class="remove-item" onclick="removeFromCart()">Remove</button>
                </div>
            </div>

            <!-- Repite la estructura para cada producto en el carrito -->
            
        </div>
    </div>
</section>


{% schema %}
{
    "name": "Template Cart",
    "blocks": [
        {
            "type": "subtotal",
            "name": "Subtotal",
            "limit": 1
        },
        {
            "type": "update_button",
            "name": "Update Button",
            "limit": 1
        },
        {
            "type": "checkout_button",
            "name": "Checkout Button",
            "limit": 1
        }
    ]
}
{% endschema %}