.center-menu{
    display: flex;
    align-items: center;
    gap: 140px;
}
.title{
    padding-left: 40px;
}
.title h1{
    font-size: 29px;
}
.navigation{
    display: flex;
    gap: 40px;
    font-size: 15px;
}
.icon{
    width: 24px;
}