.center-menu{
    display: flex;
    align-items: center;
    gap: 140px;
}
.title{
    padding-left: 40px;
}


/* Menu */
.navigation
{
    display: flex;
    gap: 40px;
    font-size: 15px;
}

.link-menu{
    background: white;
     padding:2px; 
     align-items:center;
     justify-content:center; 
     border-width: 0;
}
.link-menu:focus
{
outline: none;
}

/* Icon */
.icon
{
    width: 24px;
}

/* H1.. */
.title h1
{
    font-size: 29px;
}

/* btns */
.btn{
    cursor: pointer;
}