
*
{
    list-style: none;
    text-decoration: none;
}


.center-menu{
    display: flex;
    align-items: center;
    gap: 96px;
    position: fixed;
    z-index: 0;
    background: white;
    width: 100%;
}
.title{
    padding-left: 40px;
}
.title h1
{
    font-size: 2.0rem;
}

/* Menu */
.navigation
{
    display: flex;
    gap: 40px;
    font-size: 15px;
}
.arrow{
    font-size: 13px;
    display: flex;
    gap: 6px;
    align-items: center;
    border: none;
    background: white;
}
.link-menu{
    background: white;
     padding:2px; 
     align-items:center;
     justify-content:center; 
     border-width: 0;
}
.link-menu:focus
{
outline: none;
}
.link-child
{
    background: white;
    text-decoration: none;
    color: #000000;
    font-size: 13px;
}
/* Menu_Desplegable */
   /* mobile */
@media (min-width: 769px) {
    .mobile-menu {
      display: none;
    }
  }
  
  @media (max-width: 768px) {
    .mobile-menu {
      display: block;
    }
  }

    /* Deskpto  */
@media (min-width: 769px) {
    .navigation {
      display: flex;
      padding-left: 36px;
    }
  }
  
  
  @media (max-width: 768px) {
    .navigation {
      display: none;
    }
  }
  
  @media (max-width: 768px) {
    .navigation.show {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
    }

    .navigation.show a {
        color: black; /* Cambia el color de texto según tus necesidades */
    }

    .navigation.show .relative {
        margin-bottom: 10px; /* Ajusta el espacio entre elementos según tus necesidades */
    }
}

/* Estilos para pantallas pequeñas (hasta 768px) */
@media (max-width: 768px) {
    body {
        overflow-x: hidden; /* Evitar el desplazamiento horizontal en dispositivos móviles */
    }

    .center-menu {
        overflow: hidden; /* Evitar el desbordamiento de elementos hijos */
    }

    .navigation.show {
        margin: 0;
        padding: 10px; /* Ajusta según sea necesario para evitar márgenes blancos o negros */
    }
}


/* Icon */
.icon
{
    width: 24px;
    color:#4d2323;
}
.icon-arrow
{
    width: 14px;
}
.card-info svg
{
    width: 14px;
}
.star-container {
    font-size: 10px;
  }

  .star {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid #e44a3e;
    background-color: #e44a3e; /* Fondo amarillo */
    clip-path: polygon(50% 0%, 61% 35%, 100% 35%, 70% 50%, 80% 90%, 50% 70%, 20% 90%, 30% 50%, 0% 35%, 39% 35%);
      margin: 0 -1px; /* Reducí el margen */
  }

/* H1.. */
.title h1
{
    font-size: 29px;
}

/* btns */
.btn{
    cursor: pointer;
}
.button-style 
{
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: medium;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    background-color: #34d399;
    border: 1px solid #34d399;
    color: #ffffff;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
}
.button-style:hover 
{
    background-color: #10b981;
}
/* cosas */
.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 7rem 0;
    height: 100vh;
}

.max-w-md {
    max-width: 28rem;
}

.heading-text {
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 1rem;
}

.subtext-text {
    font-size: 1rem;
    line-height: 1.5;
    margin-top: 1rem;
}

/* plataforma */
.platform
{
 display: flex;
 gap: 25px;
 padding-left: 60PX;
}
/* error-404 */
.shopify-section {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 auto; /* Centra el contenido horizontalmente */
    max-width: 100%; /* Ajusta el ancho máximo según tus necesidades */
}

.shopify-section .max-w-md {
    max-width: 28rem; /* ajusta el ancho máximo según tus necesidades */
    padding-top: 18%;
}

.shopify-section .text-5xl {
    font-size: 4rem; /* ajusta el tamaño de fuente según tus necesidades */
    font-weight: bold;
    margin-bottom: 1rem;
}

.shopify-section .text-base {
    font-size: 1.5rem; /* ajusta el tamaño de fuente según tus necesidades */
}

.shopify-section .md-text-xl {
    font-size: 1.25rem; /* ajusta el tamaño de fuente según tus necesidades */
}

.shopify-section .my-4 a {
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-decoration: none;
}

.shopify-section .px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.shopify-section .inline {
    display: inline;
}

.shopify-section .py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.shopify-section .text-white {
    color: #fff; /* ajusta el color de texto según tus necesidades */
}

.shopify-section .shadow {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* ajusta la sombra según tus necesidades */
}

.shopify-section .bg-green-600 {
    background-color: #38a169; /* ajusta el color de fondo según tus necesidades */
}

.shopify-section .hover-bg-green-800:hover {
    background-color: #276749; /* ajusta el color de fondo al pasar el ratón según tus necesidades */
}

.shopify-section .font-medium {
    font-weight: 500; /* ajusta el grosor de la fuente según tus necesidades */
}

/* img */

/* principal */
.homepage
{
 background: #fef1e4;
}
.homepage img
{
 width: 100%;
 object-fit: cover;
 height: 600px;
}
.content h3
{
    padding-top: 37px;
    text-align: center;
    font-weight: 400;
    font-size: 45px;
}
.content p
{
    text-align: center;
    padding-bottom: 15px;
    font-size: 19px;
}
/* collections */

.template-collections
{
    padding-top: 50px;
}

.center-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Distribuye las filas uniformemente */
}

.collections {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas de tamaño igual */
    gap: 20px; /* Espacio entre las tarjetas */
}

.card {
    width: 100%; /* Ajusta el ancho según sea necesario */
    border: 1px solid #ddd;
    padding: 15px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

.card-img
{
    text-align: center;
}
.card img {
    width: 84%;
    object-fit: contain;
    min-height: 255px;
}

.card-info p {
    max-height: 90px; /* Altura máxima para mostrar antes de hacer clic */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Muestra solo 3 líneas de texto */
    -webkit-box-orient: vertical;
    margin-bottom: 10px; /* Añade espacio entre las líneas de texto */
    transition: max-height 0.3s ease; /* Agrega transición suave para cambiar la altura */
}

.card-info {
    text-align: center;
    padding: 16px;
}

.card-info h4 {
    font-size: 30px;
    margin: 0 0 6px;
    font-family: "Victor Serif";
    letter-spacing: -.045em;
    line-height: 1.5em;
}

.card-info p {
    padding-top: 10px;
    font-size: 16px;
    line-height: 1.625em;
}

.style {
    padding: 6.5px 15px;
    font-size: 8px;
    font-weight: 700;
    line-height: 1em;
    text-transform: uppercase;
    letter-spacing: .1em;
    margin: 0 0 15px;
    border-radius: 10px;
    color: #193c46;
    background-color: pink;
}
.style-ligth
{
    padding: 6.5px 15px;
    font-size: 8px;
    font-weight: 700;
    line-height: 1em;
    text-transform: uppercase;
    letter-spacing: .1em;
    margin: 0 0 15px;
    border-radius: 10px;
    color: #193c46;
   background-color: #fcefca;
}
.color {
    color: red;
}
.space
{
    display: block;
    padding-top: 24.5px;
}
.space-bottom
{
    display: block;
    padding-top: 10px;
}
.product-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    gap: 8px;
}

.cart {
    line-height: 1.25em;
    letter-spacing: .15em;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    padding: 18px 26px;
    border: 2px solid #193C46;
    color: #193c46;
    background-color: transparent;
    overflow: hidden;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.cart:hover {
    background-color: #193C46;
    color: #fff;
}

/* about-us */
.template-about
{
    padding-top: 10%;
}
.about
{

   background:  #fef1e4;
   padding-top: 80px;
   padding-bottom: 70px;
}
.about img 
{
    width: 100%;
    object-fit: contain;
    min-height: 255px;
}

.about-info
{
    margin-left: 50%;
}
.about-info h2 
{
    text-align: initial;
    margin: initial;
    font-size: 40px;
}

.about-info u 
{
    text-decoration: none;
    position: relative;
}
.about-info u::after
{
    content: "";
    display: block;
    position: absolute;
    left: -1px;
    bottom: -4px;
    height: 4px;
    width: calc(100% + 2px);
    background-image: url('https://cdn.shopify.com/s/files/1/0683/0007/9353/files/after.svg?v=1702670905');
    background-size: auto 4px;
    background-position: center;
}

.about-info strong 
{
    font-weight: bold;
    padding-left: 29%;
    font-size: 40px;
    font-weight: 600;
    color: #193C46;
}

/* footer */
.template-footer
{
    padding: 6% 0 0 8%;
}
.end
{
    display: grid;
    grid-template-columns: 1.5fr repeat(4, 1fr);
    align-items: baseline;
}
.good 
{
    padding-bottom: 44px;
}
.newsletter-copy
{
    color: #193c46;
    margin: 0 0 15px;
    padding: 0 0 60px;
    position: relative;
}
.newsletter-copy::after
{
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 38px;
    --svg-width: 10.88px;
    width: calc(4 * var(--svg-width));
    height: 4px;
    background-image: url('https://cdn.shopify.com/s/files/1/0683/0007/9353/files/after.svg?v=1702670905');
    background-size: auto 4px;
    background-position: 0% 0%;
}

.field
{
    position: relative;
    display: flex;
    border-bottom: thin solid;
}

.field__input
{
    background: transparent;
    border: transparent;
    color: #193c46;
    font-weight: 500;
    font-size: 16px;
    line-height: 1em;
    letter-spacing: -.01em;
    outline: unset;
    box-shadow: unset;
    padding: 12px 0;
    height: unset;
    min-height: unset;
}
.newsletter-form__button 
{
    position: absolute;
    height: 2.5rem;
    right: 0;
    top: 0;
    width: 2.5rem;
    border: transparent;
    background: transparent;
    cursor: pointer;
}
.position
{
    padding-left: 66px ;
}
.footer-menu 
{
    padding-left: 0;
}
.footer-menu  li
{
    padding-bottom: 12px;
    color: #193c46;
}
.footer-menu  a
{
    color: #193c46;
}
.redes-social
{
    display: flex;
    gap: 14px;
    padding-left: 0;
    padding-top: 44px;
}




/* card */
/* Contenedor principal */
.w-full {
    width: 100%;
}

.py-6 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.px-3 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

/* Tarjeta */
.border {
    border-width: 1px;
}

.bg-white {
    background-color: #ffffff;
}

.shadow-lg {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.rounded-lg {
    border-radius: 0.5rem;
}

.overflow-hidden {
    overflow: hidden;
}

/* Imagen */
.h-80 {
    height: 20rem;
}

.transition {
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

.duration-1000 {
    transition-duration: 1s;
}

.ease-in-out {
    transition-timing-function: ease-in-out;
}

.hover\:scale-105:hover {
    transform: scale(1.05);
}

.transform {
    transform: none;
}

/* Enlace */
a {
    color: inherit;
    text-decoration: underline;
}

/* Contenido flexible */
.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.p-4 {
    padding: 1rem;
}

/* Texto */
.text-sm {
    font-size: 0.875rem;
}

.text-gray-400 {
    color: #718096;
}

.uppercase {
    text-transform: uppercase;
}

.font-medium {
    font-weight: 500;
}

.text-gray-700 {
    color: #4a5568;
}

.text-gray-500 {
    color: #a0aec0;
}

/* cart */
