<div class="template-home">
  <div class="homepage"></div>
  <div class="content">
    <h3>Curated Flights</h3>
    <p>
        <span>
            At In Good Taste, we believe in exploring and understanding the world of quality wine. Our 187ml mini bottles <br>
            offer curated wine flights and fridge packs, perfect for tasting a variety of small-batch wines. With less waste and 
            <br>fresher sips, we hope to inspire your love for exploring the diverse and delicious world of quality wine.
        </span>
    </p>
  </div>
</div>
{% section 'template-collections' %}
{% section 'template-about' %}
{% section 'template-footer' %}
{% section 'template-page' %}


