<div class="homepage">
    <img src="https://cdn.shopify.com/s/files/1/0683/0007/9353/files/header.webp?v=1702596428" 
        alt="hero"
        loading="eager"
        width="300"
        height="auto" 
   >           
  <div class="content">
    <h3>Curated Flights</h3>
    <p>
        <span>
            At In Good Taste, we believe in exploring and understanding the world of quality wine. Our 187ml mini bottles <br>
            offer curated wine flights and fridge packs, perfect for tasting a variety of small-batch wines. With less waste and 
            <br>fresher sips, we hope to inspire your love for exploring the diverse and delicious world of quality wine.
        </span>
    </p>
  </div>
</div>
